{
	"presets": [
		["@babel/preset-env"],
		["@babel/preset-react"],
		[
			"@ava/transform-test-files",
			{
				"powerAssert": false
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		"babel-plugin-transform-import-styles",
		["@babel/plugin-syntax-class-properties"],
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		],
		"@babel/plugin-transform-runtime"
	]
}
